* {
	border: none;
	border-radius: 0;
	font-size: 15px;
	font-family: "MesloLGS NF";
	box-shadow: none;
	text-shadow: none;
	transition-duration: 0s;
}

window {
	color: rgba(217, 216, 216, 1);
	/* background: #292b2e; */
	background: rgb(25, 24, 26);
}

#workspaces {
	margin: 0 5px;
}

#workspaces button {
	padding: 0 5px;
	color: rgba(217, 216, 216, 0.6);
}

#workspaces button.visible {
	color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
	border-top: 3px solid rgba(217, 216, 216, 1);
	border-bottom: 3px solid rgba(217, 216, 216, 0);
	color: #fc9867;
}

#workspaces button.urgent {
	color: rgba(238, 46, 36, 1);
}

#mode,
#battery,
#cpu,
#temperature,
#memory,
#network,
#pulseaudio,
#disk {
	margin: 0px 6px 0px 5px;
}

#custom-spotify {
	margin: 0px 0px 0px 5px;
}

#custom-separator, #custom-separator2 {
	color: rgba(217, 216, 216, 0.5);
	font-weight: bold;
}

#clock {
	margin: 0px 10px 0px 5px;
	font-weight: bold;
}

#tray {
	margin: 0px 5px 0px 0px;
}

#cpu.warning {
	color: #FFD866;
}

#cpu.critical, #temperature.critical {
	color: #FF6188;
}

#battery.warning {
	color: #FFD866;
}

#battery.critical {
	color: #FF6188;
}

#battery.charging {
	color: #03767f;
}
