use-grammars = { only = [ "rust", "c", "cpp", "ocaml", "toml", "markdown", "javascript", "jsx", "typescript", "tsx", "css", "scss", "html", "typst", "bash", "sway", "sql", "json", "make", "python", "git-rebase", "git-commit", "git-config", "git-ignore", "vhdl", "r", "rmarkdown", "scala", "dockerfile", "dart", "kotlin", "hurl", "gas", "verilog", "wgsl", "latex", "haskell", "ld", "prolog", "spade", "tsq", "just" ] }

[language-server]
emmet-ls = { command = "emmet-ls", args = [ "--stdio" ]}
metals = { command = "metals" }

[language-server.eslint]
command = "vscode-eslint-language-server"
args = ["--stdio"]

[language-server.eslint.config]
codeActionsOnSave = { mode = "all", "source.fixAll.eslint" = true }
format = { enable = true }
nodePath = ""
quiet = false
rulesCustomizations = []
run = "onType"
validate = "on"
experimental = {}
problems = { shortenToSingleLine = false }

[language-server.eslint.config.codeAction]
disableRuleComment = { enable = true, location = "separateLine" }
showDocumentation = { enable = true }

[language-server.eslint.config.workingDirectory]
mode = "location"

[language-server.vscode-json-language-server.config]
json = { validate = { enable = true }, format = { enable = true } }
provideFormatter = true

[language-server.vscode-css-language-server.config]
css = { validate = { enable = true } }
scss = { validate = { enable = true } }
less = { validate = { enable = true } }
provideFormatter = true

[language-server.cssmodules]
command = "cssmodules-language-server"
args = []

[language-server.rust-analyzer.config]
rustc.source = "discover"
check.command = "clippy"
cargo.features = "all"

[language-server.rust-analyzer.diagnostics.experimental]
enable = true

[language-server.basedpyright]
except-features = ["format", "code-action"]

[language-server.basedpyright.config.basedpyright.analysis]
typeCheckingMode = "standard"

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.ruff.config.settings.lint]
preview = true
select = [
  # pycodestyle
  "E",
  # Pyflakes
  "F",
  # pyupgrade
  "UP",
  # flake8-bugbear
  "B",
  # flake8-simplify
  "SIM",
  # isort
  "I",
]


[language-server.clangd.config]
clang-tidy = true
completion = { enable = true, detailedLabel = true }

[[language]]
name = "python"
language-servers = [ "basedpyright", "ruff" ]

[[language]]
name = "typescript"
indent = { tab-width = 4, unit = "    " }
language-servers = [ "typescript-language-server", "eslint", "emmet-ls" ]

[[language]]
name = "javascript"
indent = { tab-width = 4, unit = "    " }
language-servers = [ "typescript-language-server", "eslint", "emmet-ls" ]

[[language]]
name = "tsx"
indent = { tab-width = 4, unit = "    " }
language-servers = [ "typescript-language-server", "eslint", "cssmodules", "emmet-ls" ]
auto-format = false

[[language]]
name = "rust"
indent = { tab-width = 4, unit = "    " }
formatter = { command = "rustfmt" }
auto-format = false

[[language]]
name = "c"
indent = { tab-width = 4, unit = "    " }
file-types = ["h", "c"]
formatter = { command = "clang-format", args=['-style={BasedOnStyle: llvm, IndentWidth: 4}'] }

[[language]]
name = "cpp"
indent = { tab-width = 4, unit = "    " }
formatter = { command = "clang-format", args=['-style={BasedOnStyle: llvm, IndentWidth: 4}'] }

[[language]]
name = "scss"
indent = { tab-width = 4, unit = "    " }
language-servers = [ "vscode-css-language-server", "cssmodules" ]
auto-format = false

[[grammar]]
name = "scss"
source = { git = "https://github.com/tree-sitter-grammars/tree-sitter-scss", rev = "8f47fa8be72ac299cab4c6aa02668635f2dcd4be" }

[[language]]
name = "toml"
language-servers = [
]

[[language]]
name = "ocaml"
indent = { tab-width = 2, unit = "    " }
formatter = { command = "ocamlformat", args=["-", "--impl", "--enable-outside-detected-project", "--profile=janestreet", "--if-then-else=k-r"] }


[[language]]
name = "markdown"
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"]}

[[language]]
name = "json"
indent = { tab-width = 4, unit = "    " }
auto-format = false

[[language]]
name = "typst"
indent = { tab-width = 4, unit = "    " }
formatter = { command = "typstyle" }

[[language]]
name = "vhdl"
indent = { tab-width = 4, unit = "    " }
formatter = { command = "vhdlfmt", args = [ "%{buffer_name}" ] }

[[language]]
name = "scala"
indent = { tab-width = 4, unit = "    " }
language-servers = [ "metals" ]

[[language]]
name = "dart"
indent = { tab-width = 4, unit = "    " }

[[language]]
name = "kotlin"
indent = { tab-width = 4, unit = "    " }
formatter = { command = "/usr/lib/jvm/java-25-openjdk/bin/java", args = [ "-jar", "~/installation/ktfmt-0.59-with-dependencies.jar", "--kotlinlang-style", "-" ] }

[[language]]
name = "wgsl"
indent = { tab-width = 4, unit = "    " }
formatter = { command = "wgslfmt" }

[[language]]
name = "haskell"
indent = { tab-width = 4, unit = "    " }
formatter = { command = "fourmolu", args = [ "--stdin-input-file", "%{buffer_name}" ] }

[[language]]
name = "prolog"
indent = { tab-width = 4, unit = "    " }
file-types = ["pl"]

[[grammar]]
name = "spade"
source = { git = "https://gitlab.com/spade-lang/tree-sitter-spade", rev = "6569cd11cc9362e277845ce24111735059b145ee" }
